.image-container{
    width: 100%;
    min-height: 300px;

    font-family: 'Playfair Display', serif;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container p{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    margin: 0;
}


.title{
    margin-left: 20px;
}

.title h1{
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    margin-bottom: 0;
}

.title p{
    font-family: 'Source Sans Pro', sans-serif;
    color: #999999;
    font-weight: 600;
    margin: 0;
}

.buttons{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}

.buttons button{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;

    width: 100px;
    padding: 10px;
    margin: 10px;

    border-radius: 5px;
    background-color: white;
}

.all{
    color: #F44336;
    border: 2px solid #F44336;
}

.sale{
    color: #999999;
    border: 2px solid #999999;
}

.viewer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}